<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobileclient.activity"
    android:versionCode="1"
    android:versionName="1.0">


    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 文件读写权限 -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许程序打开网络套接字 -->

    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />


    <!-- 文件读写权限 -->


    <!-- 允许程序访问WiFi网络信息 -->



    <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.mobileclient.app.Declare"
        android:allowBackup="true"
        android:icon="@drawable/xiaohui"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data

            android:name="com.amap.api.v2.apikey"
            android:value="a15dd3edafce81e5774392c33467b81e" />
        <provider
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
           <meta-data
               android:name="android.support.FILE_PROVIDER_PATHS"
               android:resource="@xml/file_paths"
               />
        </provider>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".IndexActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainUserActivity" />
        <activity android:name=".MoreActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".UserInfoListActivity" />
        <activity android:name=".UserInfoQueryActivity" />
        <activity android:name=".UserInfoAddActivity" />
        <activity android:name=".UserInfoRegisterActivity" />
        <activity android:name=".UserInfoEditActivity" />
        <activity android:name=".UserInfoDetailActivity" />
        <activity android:name=".ExpressTakeListActivity" />
        <activity android:name=".ExpressTakeUserListActivity" />
        <activity android:name=".ExpressTakeMyListActivity" />
        <activity android:name=".ExpressTakeQueryActivity" />
        <activity android:name=".ExpressTakeAddActivity" />
        <activity android:name=".ExpressTakeUserAddActivity" />
        <activity android:name=".ExpressTakeEditActivity" />
        <activity android:name=".ExpressTakeDetailActivity" android:configChanges="keyboard|keyboardHidden" />
        <activity android:name=".CompanyListActivity" />
        <activity android:name=".CompanyQueryActivity" />
        <activity android:name=".CompanyAddActivity" />
        <activity android:name=".CompanyEditActivity" />
        <activity android:name=".CompanyDetailActivity" />
        <activity android:name=".OrderStateListActivity" />
        <activity android:name=".OrderStateQueryActivity" />
        <activity android:name=".OrderStateAddActivity" />
        <activity android:name=".OrderStateEditActivity" />
        <activity android:name=".OrderStateDetailActivity" />
        <activity android:name=".TakeOrderListActivity" />
        <activity android:name=".TakeOrderUserListActivity" android:configChanges="keyboard|keyboardHidden"/>
        <activity android:name=".TakeOrderQueryActivity" />
        <activity android:name=".TakeOrderAddActivity" />
        <activity android:name=".TakeOrderEditActivity" />
        <activity android:name=".TakeOrderUserEditActivity" />
        <activity android:name=".TakeOrderDetailActivity" />
        <activity android:name=".NoticeListActivity" />
        <activity android:name=".NoticeQueryActivity" />
        <activity android:name=".NoticeAddActivity" />
        <activity android:name=".NoticeEditActivity" />
        <activity android:name=".NoticeDetailActivity" />
        <activity android:name=".RouteActivity" />
        <activity android:name=".photoListActivity" />
        <activity android:name=".fileListActivity" />
        <activity android:name="com.xp.calendar.calendar.MainActivity" />

        <service android:name="com.amap.api.location.APSService" />


        <activity
            android:name=".ExpressRouteActivity"
            android:label="@string/title_activity_express_route" />
        <activity
            android:name=".TjpuActivity"
            android:label="@string/title_activity_tjpu" />
        <activity
            android:name=".KechengbiaoActivity"
            android:label="@string/title_activity_kechengbiao" />
        <activity
            android:name="com.xp.calendar.calendar.SpecialActivity"
            android:label="@string/title_activity_special" />
        <activity
            android:name=".AdminLoginActivity"
            android:label="@string/title_activity_admin_login" />
        <activity
            android:name=".ExpressOrderListActivity"
            android:label="@string/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TakeOrderDetail2Activity" />
        <activity android:name=".SearchActivity" />

        <activity android:name=".ExpressOrderAddActivity" />
    </application>

</manifest>